pkgbase = spooky-doot
	pkgdesc = Un squelette trompettiste qui surgit au hasard sur ton ecran, du 1er septembre au 31 octobre
	pkgver = 1.10.0
	pkgrel = 1
	url = https://github.com/boubou666/doot
	arch = any
	license = MIT
	checkdepends = python-pillow
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = tk
	depends = python-desktop-overlay>=0.2.1
	optdepends = pipewire-audio: lecture du son via pw-play
	optdepends = libpulse: lecture du son via paplay
	optdepends = alsa-utils: lecture du son via aplay
	optdepends = mpv: lecture des sons compresses et son spatialise
	optdepends = ffmpeg: idem, via ffplay
	optdepends = xorg-xrandr: second recours pour la detection des ecrans multiples
	conflicts = doot
	source = spooky-doot-1.10.0.tar.gz::https://github.com/boubou666/doot/archive/refs/tags/v1.10.0.tar.gz
	sha256sums = d2572b2aae3803446c9ba3e35c7d8a5765a1e38d5fc6a944b3861418977c7025

pkgname = spooky-doot
